@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-alternates-bold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(190, 23%, 75%);
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.header-right{
    display: flex;
    gap: 20px;
}
header a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px; /* толщина линии */
    background-color: white; /* цвет линии */
    transition: width 0.3s ease; /* анимация */
}
header a:hover::after {
    width: 100%; /* линия расширяется на всю ширину */
}
header a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    position: relative;
}
header img{
    width: 150px;
}

.top{
    background-image: url(./images/wave-to-earth.png);
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 50px;
}
.top h2{
    font-size: 40px;
}
.top h3{
    font-size: 30px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-bottom: 40px;
}
.popular{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3%;
    gap: 20px;
}
.popular h2{
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 40px;
}
.popular button{
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-weight: bolder;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    transition: 0.3s;
}
.values{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 95%;
    padding-left: 3%;
}
.values h2{
    font-size: 40px;
    font-family: "Montserrat Alternates", sans-serif;
}
.values p{
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}

footer{
    background-color: black;
    color: white;
    
}
.footer-left{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 70%;
}
.contact img{
    width: 15px;
}
.icons{
    display: flex;
    align-items: center;
    gap: 15px;
}
.icons img{
    width: 30px;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social-media{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact,.links,.social-media h3{
    font-family: "Montserrat Alternates", sans-serif;
}
.contact p{
    font-family: "Montserrat", sans-serif;
    font-size: small;
    display: flex;
    gap: 5px;
    align-items: center;
}
.links a{
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
footer a:hover{
    color: gray;
}
.popular button:hover{
    color:  hsl(0, 0%, 87%);
}

.element-animation.element-show{
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}
.element-animation{
    opacity: 0;
    transform: translateY(20px);
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav,span{
    visibility: hidden;
    display: none;
}


@media only screen and (max-width:425px){
    .header-right{
        visibility: hidden;
        display: none;
    }
    header{
        width: auto;
        position: relative;
    }
    header img{
        width: 30%;
    }
    span{
        display: block;
        visibility: visible;
        position: absolute;
        right: 5%;
    }
    .footer-left{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .sidenav{
        display: block;
        visibility: visible;
    }
    header a::after{
        display: none;
    }


    .top{
        height: 40vh;
        background-size: cover;
        background-attachment: unset;
        background-repeat: no-repeat;
        width: 100%;
    }
    .top h1{
        font-size: 40px;
    }
    .top h2{
        font-size: 20px;
    }
    .top h3{
        font-size: 10px;
    }
    .popular h2, .values h2{
        font-size: 30px;
    }
    .values p{
        font-size: 15px;
    }
    
}

